{
	"env": {
		"development": {
			"presets": [["env", {
				"targets": {
					"browsers": ["last 2 versions"]
				},
				"debug": true
			}], "react", "stage-2"],
		  "plugins": ["transform-export-extensions"]
		},
		"components": {
			"presets": [["env", {
				"targets": {
					"browsers": ["last 2 versions", "ie >= 10"]
				},
				"spec": true
			}]],
			"plugins": []
		},
		"react": {
			"presets": [["env", {
				"targets": {
					"browsers": ["last 2 versions", "ie >= 10"]
				}
			}], "react", "stage-2"],
			"plugins": ["transform-export-extensions"]
		},
		"utils": {
			"presets": [["env", {
				"targets": {
					"browsers": ["last 2 versions", "ie >= 10"]
				},
				"spec": true
			}]],
			"plugins": ["transform-es2015-modules-umd"]
		}
	}
}
