// Source: https://projects.invisionapp.com/share/E2ASEPKTN#/screens/224575826

@import "./colors";


// constants

$reno-button-sizes: (
	// font size, horizontal padding, vertical padding
	large:  (14px, 40px, 20px),
	medium: (12px, 28px, 16px),
	small:  (11px, 20px, 12px)
);

$reno-button-outline-color: $reno-color-secondary;

@mixin reno-button-size($font-size, $h-pad, $v-pad) {
	font-family: gotham a, gotham b, sans-serif;
	font-weight: 500;
	font-size: $font-size;
	line-height: 1em;
	padding: $v-pad $h-pad;
}

@mixin reno-button-style($text-color, $bg-color, $border-color,$box-shadow) {
	color: $text-color;
	background-color: $bg-color;
	border: 1px solid $border-color;
	box-shadow: #{$box-shadow};
}

@function reno-button-name($name, $size, $state) {
	@if $state == "special" {
		@return "#{reno-button-name($name, $size, "active")}, #{reno-button-name($name, $size, "hover")}";
	}
	@if $name != "" {
		$name: "-#{$name}";
	}
	@if $size == "small" {
		$size: "";
	} @else {
		$size: "-#{$size}";
	}
	@if $state != "" {
		$state: ":#{$state}";
	}
	$c: ".reno-button#{$name}#{$size}#{$state}";
	@return "#{$c}, .reno #{$c}, .reno-dark #{$c}";
}

// generate classes

@each $size, $size-parameters in $reno-button-sizes {
	#{reno-button-name("", $size, "")}         { @include reno-button-size($size-parameters...); }
	#{reno-button-name("", $size, "")}         { @include reno-button-style($reno-color-white, $reno-color-primary, transparent, none); }
	#{reno-button-name("", $size, "special")}  { @include reno-button-style($reno-color-white, rgba($reno-color-primary, 0.8), transparent, "0 3px 3px 0 #{$reno-gray-medium-dark}, 0 4px 9px 1px #{$reno-color-medium-light-gray}"); }
	#{reno-button-name("", $size, "focus")}    { outline-color: $reno-color-secondary; }
	#{reno-button-name("", $size, "disabled")} { @include reno-button-style(rgba($reno-color-white, 0.5), rgba($reno-color-primary, 0.5), transparent, none); }

	#{reno-button-name("secondary", $size, "")}         { @include reno-button-size($size-parameters...); }
	#{reno-button-name("secondary", $size, "")}         { @include reno-button-style($reno-color-primary, $reno-color-white, $reno-color-primary, none); }
	#{reno-button-name("secondary", $size, "special")}  { @include reno-button-style($reno-color-primary, $reno-gray-super-light, $reno-color-primary, "0 3px 3px 0 #{$reno-gray-medium-light}, 0 4px 9px 1px #{$reno-color-medium-light-gray}"); }
	#{reno-button-name("secondary", $size, "focus")}    { outline-color: $reno-color-secondary; }
	#{reno-button-name("secondary", $size, "disabled")} { @include reno-button-style(rgba($reno-color-primary, 0.5), $reno-color-white, rgba($reno-color-primary, 0.5), none); }

	#{reno-button-name("tertiary", $size, "")}         { @include reno-button-size($size-parameters...); }
	#{reno-button-name("tertiary", $size, "")}         { @include reno-button-style($reno-color-primary, transparent, transparent, none); }
	#{reno-button-name("tertiary", $size, "special")}  { @include reno-button-style($reno-color-primary, $reno-gray-super-light, transparent, "0 3px 3px 0 #{$reno-gray-medium-light}, 0 4px 9px 1px #{$reno-color-medium-light-gray}"); }
	#{reno-button-name("tertiary", $size, "focus")}    { outline-color: $reno-color-secondary; }
	#{reno-button-name("tertiary", $size, "disabled")} { @include reno-button-style(rgba($reno-color-primary, 0.5), transparent, transparent, none); }

	#{reno-button-name("caution", $size, "")}         { @include reno-button-size($size-parameters...); }
	#{reno-button-name("caution", $size, "")}         { @include reno-button-style($reno-color-white, $reno-color-error, transparent, none); }
	#{reno-button-name("caution", $size, "special")}  { @include reno-button-style($reno-color-white, rgba($reno-color-error, 0.8), transparent, "0 3px 3px 0 #{$reno-color-medium-dark-gray}, 0 4px 9px 1px #{$reno-color-medium-light-gray}"); }
	#{reno-button-name("caution", $size, "focus")}    { outline-color: $reno-color-secondary; }
	#{reno-button-name("caution", $size, "disabled")} { @include reno-button-style(rgba($reno-color-white, 0.5), rgba($reno-color-error, 0.5), transparent, none); }

	#{reno-button-name("reverse", $size, "")}         { @include reno-button-size($size-parameters...); }
	#{reno-button-name("reverse", $size, "")}         { @include reno-button-style($reno-color-black, $reno-color-white, transparent, none); }
	#{reno-button-name("reverse", $size, "special")}  { @include reno-button-style($reno-color-black, rgba($reno-color-white, 0.8), transparent, "0 3px 6px 0 #{$reno-gray-medium-dark}, 0 4px 9px 0 #{$reno-color-dark-gray}"); }
	#{reno-button-name("reverse", $size, "focus")}    { outline-color: $reno-color-secondary; }
	#{reno-button-name("reverse", $size, "disabled")} { @include reno-button-style(rgba($reno-color-black, 0.7), rgba($reno-color-white, 0.5), transparent, none); }

	#{reno-button-name("secondary-reverse", $size, "")}         { @include reno-button-size($size-parameters...); }
	#{reno-button-name("secondary-reverse", $size, "")}         { @include reno-button-style($reno-color-white, transparent, $reno-color-white, none); }
	#{reno-button-name("secondary-reverse", $size, "special")}  { @include reno-button-style($reno-color-white, rgba($reno-color-white, 0.15), $reno-color-white, "0 3px 6px 0 #{$reno-gray-medium-dark}, 0 4px 9px 0 #{$reno-color-dark-gray}"); }
	#{reno-button-name("secondary-reverse", $size, "focus")}    { outline-color: $reno-color-secondary; }
	#{reno-button-name("secondary-reverse", $size, "disabled")} { @include reno-button-style(rgba($reno-color-white, 0.5), transparent, rgba($reno-color-white, 0.3), none); }
}


// helpers and special cases

.reno {
	button, input[type=submit], input[type=button] {
		@extend .reno-button;
	}
	button:disabled, input[type=submit]:disabled, input[type=button]:disabled {
		@extend .reno-button:disabled;
	}
	button:active, input[type=submit]:active, input[type=button]:active,
	button:hover,  input[type=submit]:hover,  input[type=button]:hover {
		@extend .reno-button:hover;
	}
	button:focus,  input[type=submit]:focus,  input[type=button]:focus {
		@extend .reno-button:focus;
	}
}

.reno-dark {
	button, input[type=submit], input[type=button] {
		@extend .reno-button-reverse;
	}
	button:disabled, input[type=submit]:disabled, input[type=button]:disabled {
		@extend .reno-button-reverse:disabled;
	}
	button:active, input[type=submit]:active, input[type=button]:active,
	button:hover,  input[type=submit]:hover,  input[type=button]:hover {
		@extend .reno-button-reverse:hover;
	}
	button:focus,  input[type=submit]:focus,  input[type=button]:focus {
		outline-color: $reno-button-outline-color;
	}
}

.reno-button-ok            { @extend .reno-button; }
.reno-button-ok-medium     { @extend .reno-button-medium; }
.reno-button-ok-large      { @extend .reno-button-large; }

.reno-button-cancel        { @extend .reno-button-tertiary; }
.reno-button-cancel-medium { @extend .reno-button-tertiary-medium; }
.reno-button-cancel-large  { @extend .reno-button-tertiary-large; }

.reno-dark {
	.reno-button-ok            { @extend .reno-button-reverse; }
	.reno-button-ok-medium     { @extend .reno-button-reverse-medium; }
	.reno-button-ok-large      { @extend .reno-button-reverse-large; }

	.reno-button-cancel        { @extend .reno-button-secondary-reverse; }
	.reno-button-cancel-medium { @extend .reno-button-secondary-reverse-medium; }
	.reno-button-cancel-large  { @extend .reno-button-secondary-reverse-large; }
}

.reno-button-group {
	button {
		margin-right: $reno-spacing-small;
	}

	button:last-of-type {
		margin-right: 0;
	}
}

// Naming convention:
//
// All button classes use the following schema:
//
// .reno-button[-style][-size][:state]
//
// Where:
//
// * style: primary (the default, skipped), secondary, tertiary, caution, primary-reverse (as -reverse), and secondary-reverse.
// * size:  small (the default, skipped), medium, large.
// * state: normal (the default, skipped), special (for hover, and active), focus, disabled.
//
// Examples:
//
// * .reno-button => primary, small, normal
// * .reno-button-tertiary-large:disabled => tertiary, large, disabled
// * .reno-button-caution:special => caution, small, special
// * .reno-button-medium => primary, medium, normal
// * .reno-button-reverse => primary-reverse, small, normal
//
// Shortcuts:
//
// * Under `.reno` all unstyled buttons styled as `.reno-button` using the convention for pseudo-classes
//   described above. This is useful for light backgrounds.
// * Under `.reno-dark` all unstyled buttons styled as `.reno-button-reverse` using the convention for pseudo-classes
//   described above. This is useful for dark backgrounds.
// * `.reno-button-ok` is `.reno-button`, `.reno-button-cancel` is `.reno-button-tertiary`.
//   * When under `.reno-dark`, `.reno-button-ok` is `.reno-button-reverse`, and `.reno-button-cancel` is `.reno-button.secondary-reverse`.
//   * `-medium` and `-large` variants are provided too.
