// Axiom - Color: https://zeroheight.com/1bvb3ve2o/p/57c6ac


// Brand

$ax-c-dynata-blue: #6787b7;
$ax-c-dynata-navy: #1b365d;


// UI Colors

$ax-c-pri:  #6b9eea;
$ax-c-warn: #e98371;
$ax-c-succ: #5bbfa2;
$ax-c-alrt: #ffd386;
$ax-c-err:  #de5f70;


// Neutrals

$ax-c-lt-0: #FFF;
$ax-c-lt-1: #FAFAFA;
$ax-c-lt-2: #F0F2F4;
$ax-c-lt-3: #E6EAF2;
$ax-c-lt-4: #DBE1EE;
$ax-c-lt-5: #D3DAEA;
$ax-c-lt-6: #C8CFE0;
$ax-c-dk-6: #3C3C4B;
$ax-c-dk-5: #323243;
$ax-c-dk-4: #292A3C;
$ax-c-dk-3: #212236;
$ax-c-dk-2: #1C1E2C;
$ax-c-dk-1: #151625;
$ax-c-dk-0: #0F0F1C;