// @import "./font";
// @import "./colors";

// generate classes: search

reno-search {
	display: inline-block;
	position: relative;
	border: 1px solid $reno-color-light-gray;
	border-radius: 2px;
	background-color: $reno-color-white;
	width: 171px;
	font-size: 14px;
	font-weight: 300;

	&[disabled] {
		border-color: $reno-color-super-light-gray;
		background-color: $reno-color-super-light-gray;
	}

	&.focused {
		border-color: $reno-color-secondary;
		box-shadow: 0 0 2px 0 $reno-color-secondary;
	}

	span {
		width: 20px;
	}

	span:after {
		content: $reno-icon-magnify;
		font-family: "reno" !important;
		color: $reno-color-medium-light-gray;
		font-size: 14px;
		position: absolute;
		top: 6px;
		right: 7px;
	}

	span.has-value:after {
		content: $reno-icon-window-close;
		color: $reno-color-medium-light-gray;
		top: 8px;
		right: 6px;
	}

	input[type="text"] {
		display: inline-block;
		background-color: transparent;
		border: none;
		outline: none;
		color: $reno-color-dark-gray;
		width: calc(100% - 20px);
	}

	input[type="text"]::placeholder {
		color: $reno-color-medium-dark-gray;
	}
}

.reno, .reno-dark {
	reno-search input[type="text"] {
		background-color: transparent;
		border: none;
		color: $reno-color-dark-gray;

		&:focus, &:active {
			border: none;
			box-shadow: none;
			order: none;
		}
	}
}
