#reno-popup-container {
	display: none;
}

#reno-popup-container.open {
	@extend .reno-box-with-border-shadow-z1;
	@extend .reno-caption;

	display: block;
	position: absolute;
	z-index: 1;
	color: $reno-color-white;
	background-color: $reno-color-dark-gray;
	border: none;
	padding: 4px 12px;
	max-height: 200px;
	max-width: 240px;
	overflow-y: scroll;
	margin: 12px;
}

reno-popup {
	display: inline-block;
	.content, .loading {
		display: none;
	}
}
