// @import "./colors";
// @import "./spacing";

/* reno-table-view */

reno-table-view {

	/* layout */

	display: table;
	cursor: pointer;
	border-collapse: collapse;

	.thead { display: table-header-group; user-select: none; }
	.tfoot { display: table-footer-group; }
	.tbody { display: table-row-group; }
	.tr { display: table-row; }
	.td {
		display: table-cell;
		.label { display: none; }
		.value { display: inline; }
	}

	.thead {
		.ascending, .descending {
			& > span {
				display: inline-block;
				position: relative;
				padding-right: 2em;
				&::after {
					display: inline-block;
					position: absolute;
					top: 0;
					right: 0;
					font-family: reno;
					font-size: 20px;
				}
			}
		}
		.ascending > span::after  {
			content: $reno-icon-menu-down;
			top: 10px;
		}
		.descending > span::after {
			content: $reno-icon-menu-up;
			top: 6px;
		}
	}

	/* visuals */

	@extend .reno-box-dirty-white-with-border;

	.td {
		padding: 0.5em 1em;
	}
	.tr {
		border-bottom: 1px solid $reno-color-light-gray;
	}
	.tr:last-child {
		border-bottom: none;
	}
	.thead {
		color: $reno-color-black;
		background-color: $reno-color-light-gray;
		font-weight: bold;
	}
}

@media (max-width: 480px) {
	reno-table-view[labels] {

		/* layout */

		display: block;

		.thead, .thead .tr { display: block; }
		.thead .td { display: inline-block; }
		.tfoot { display: none; }
		.tbody .tr { display: table; }
		.tbody .tr .td {
			display: table-row;
			.label, .value { display: table-cell; }
		}

		/* visuals */

		.td {
			padding: auto;
			border: none;
		}
		.thead {
			color: inherit;
			background-color: inherit;
			.td {
				margin-bottom: 0.5em;
				padding: 0.5em 1em;
				margin-right: 0.5em;
			}
			.td:last-child {
				margin-right: 0;
			}
		}
		.thead .td, .tbody .tr .td .label {
			color: $reno-color-white;
			background-color: $reno-color-primary;
		}
		.tbody .tr {
			margin-bottom: 0.25em;
			&:last-child { margin-bottom: 0; }
			.td {
				.label { padding: 0.5em 0.5em 0.5em 1em; }
				.value { padding: 0.5em 1em 0.5em 0.5em; }
			}
		}
	}
}

/* reno-table-pager */

reno-table-pager {
	display: flex;
	flex-direction: row;
	font-size: 12px; // like .reno-caption

	> div {
		flex: 0 0 auto;
		padding: 0.125em 0.5em;
		cursor: pointer;
		user-select: none;
		font-weight: 500;

		&.ignore {
			color: $reno-color-medium-dark-gray;
		}
		&.current {
			color: $reno-color-white;
			background-color: $reno-color-primary;
		}
	}
	.go-first {
		margin-right: $reno-spacing-small;
	}
	.go-prev {
		margin-right: $reno-spacing-default;
	}
	.go-last {
		margin-left: $reno-spacing-small;
	}
	.go-next {
		margin-left: $reno-spacing-default;
	}
	.go-page {
		min-width: 1.25em;
		text-align: center;
	}
	.go-page + .go-page {
		margin-left: $reno-spacing-tiny;
	}
	.go-first::after {
		content: "<<";
	}
	.go-prev::after {
		content: "<";
	}
	.go-last::after {
		content: ">>";
	}
	.go-next::after {
		content: ">";
	}
}

/* reno-table-counter */

reno-table-counter {
	display: inline;
	font-size: 12px; // like .reno-caption

	.items, .total {
		font-weight: 500;
	}
}

/* reno-table */

reno-table {
	display: block;

	div.normal, div.empty, div.error, div.reno-spinner {
		display: none;
	}

	&.normal div.normal {
		display: block;

		> * {
			width: 100%;
		}

		> div {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 1em;
		}
	}

	&.loading div.reno-spinner {
		display: block;
	}

	&.empty div.empty, &.error div.error {
		display: block;

		@extend .reno-box-dirty-white-with-border;
		background-color: white;

		.line1 {
			font-size: 12px;
			font-weight: 500;
			text-align: center;

			margin: $reno-spacing-x-large auto $reno-spacing auto;
		}

		.line2 {
			font-size: 12px;
			text-align: center;

			margin: $reno-spacing auto $reno-spacing-x-large auto;
		}
	}
}
