#reno-popup-container {
	display: none;
}

#reno-popup-container.open {
	display: block;
	position: absolute;
	z-index: 1;
	border: none;
	background: none;
	padding: 0;
	margin: 0;

	.content {
		@extend .reno-box-with-border-shadow-z1;
		@extend .reno-caption;
		margin: 4px;
		color: $reno-color-white;
		background-color: $reno-color-dark-gray;
	}
}

reno-popup {
	display: inline-block;
	.content, .loading {
		display: none;
	}
}
