// Source: https://projects.invisionapp.com/share/E2ASEPKTN#/screens/223715069

@import "./form-controls-label";
@import "./form-controls-check";
@import "./form-controls-text";
@import "./form-controls-select";
@import "./form-controls-number";
// @import "./form-controls-search";


// positioning relationship between elements

// labels (checkboxes, radio buttons)
.reno-form, .reno, .reno-dark {
	input[type="checkbox"], input[type="radio"] {
		margin-left: 0;
	}

	.reno-check-groups-stacked {
		>.reno-caption-bold {
			margin-bottom: 12px;
		}
		> label {
			margin-bottom: $reno-spacing-default;
		}
		> * {
			display: block;
		}
	}

	.reno-check-groups-inline {
		margin-bottom: $reno-spacing-default;
		line-height: 20px;

		> label {
			margin-right: 43px;
		}
	}
}

// number, search, select, text
.reno-form, .reno, .reno-dark {
	.reno-text-group .reno-caption-bold {
		margin-bottom: 2px;
	}

	.reno-text-group {
		height: 54px;
		margin-bottom: 26px;
	}
}
