@import "./colors";


// generate classes: text

.reno-form, .reno, .reno-dark {
	input[type="text"], textarea {
		color: $reno-color-dark-gray;
		padding: 7px 11px;
		border: 1px solid $reno-color-light-gray;
		border-radius: 2px;
		background-color: $reno-color-white;
	}

	input[type="text"]::placeholder, textarea::placeholder {
		color: $reno-color-medium-dark-gray;
	}

	input[type="text"]:active, input[type="text"]:focus, textarea:active, textarea:focus {
		border-color: $reno-color-secondary;
		box-shadow: 0 0 2px 0 $reno-color-secondary;
		outline: none;
	}

	input[type="text"]:disabled, textarea:disabled {
		border-color: $reno-color-super-light-gray;
		background-color: $reno-color-super-light-gray;
		box-shadow: none;
	}
}


// helper classes

.reno, .reno-dark {
	input[type="text"], textarea {
		font-size: 14px;
		font-weight: 300;
	}
}
