@import "./colors";
@font-face {
	font-family: "reno";
	src: 	url('../fonts/reno-font.woff2') format('woff2'),
				url('../fonts/reno-font.woff') format('woff')
}

// generate classes: text

.reno-form .reno-search, .reno .reno-search, .reno-dark .reno-search {
	position: relative;
	display: inline-block;
	border: 1px solid $reno-color-light-gray;
	border-radius: 2px;
	background-color: $reno-color-white;
	box-sizing: border-box;

	&:after {
		font-family: "reno";
		content: "\e91c";
		color: $reno-color-medium-light-gray;
		font-size: 13px;
		position: absolute;
		top: 4px;
		right: 7px;
	}

	input[type="text"] {
		background-color: transparent;
		border: none;
		color: $reno-color-dark-gray;
		display: inline-block;
		width: calc(100% - 39px);
		padding-right: 28px;
	}

	&.reno-search-has-value {
		&:after {
			font-family: "reno" !important;
			content: "\e929";
			color: $reno-color-medium-light-gray;
			font-size: 10px;
			position: absolute;
			right: 7px;
		}
	}

	&.reno-search-disabled {
		border-color: $reno-color-super-light-gray;

		input[type="text"]:disabled {
			border: none;
			background-color: $reno-color-super-light-gray;
		}
	}

	input[type="text"]::placeholder {
		color: $reno-color-medium-dark-gray;
	}

}

// helper classes

.reno, .reno-dark {
	input[type="text"].search {
		font-size: 14px;
		font-weight: 300;
	}
}
