// @import "./colors";


// generate classes: select

.reno-form, .reno, .reno-dark {
	select {
		font-family: gotham a, gotham b, sans-serif;
		color: $reno-color-dark-gray;
		padding: 7px 11px;
		border: 1px solid $reno-color-light-gray;
		border-radius: 2px;
		background-color: $reno-color-white;
		height: 32px;
		box-sizing: border-box;
	}

	// used for placeholder
	// assumes <select required> and the first option has value=""
	select:invalid {
		color: $reno-color-medium-dark-gray;
	}

	select:active, select:focus {
		border-color: $reno-color-secondary;
		box-shadow: 0 0 2px 0 $reno-color-secondary;
		outline: none;
	}

	select:disabled {
		border-color: $reno-color-super-light-gray;
		background-color: $reno-color-super-light-gray;
		box-shadow: none;
	}
}


// helper classes

.reno, .reno-dark {
	select {
		font-size: 14px;
		font-weight: 300;
	}
}
