@use "colors";

// @import "./colors";

.reno-form, .reno {
	label.reno-toggle {
		> input[type="checkbox"] {
			position: absolute;
			left: -999999px;

			&:checked ~ span.toggle {
				background-color: colors.$reno-color-primary;

				&:before {
					background-color: colors.$reno-color-white;
					left: calc(100% - 16px);
				}

				&:after {
					content: 'ON';
					color: colors.$reno-color-white;
					left: calc(2px + 0.5em);
				}
			}

			&:disabled ~ span.toggle {
				background-color: colors.$reno-color-super-light-gray;

				&:before {
					background-color: colors.$reno-color-medium-light-gray;
				}

				&:after {
					color: colors.$reno-color-medium-light-gray;
				}
			}

			&[checked]:disabled ~ span.toggle {
				background-color: colors.$reno-color-super-light-gray;

				&:before {
					background-color: colors.$reno-color-medium-light-gray;
				}

				&:after {
					color: colors.$reno-color-medium-light-gray;
				}
			}
		}

		> span.toggle {
			display: inline-block;
			position: relative;
			font-size: 9px;
			font-weight: 500;
			width: calc(16px + 3em);
			height: 18px;
			top: 6px;
			background-color: colors.$reno-color-white;
			border: 1px solid colors.$reno-color-light-gray;
			border-radius: 10px;
			cursor: pointer;
			transition: all .3s ease-in;

			&:before {
				content: '';
				position: absolute;
				top: 2px;
				height: 14px;
				width: 14px;
				border-radius: 7px;
				transition: all .3s ease-in;

				background-color: colors.$reno-color-medium-light-gray;
				left: 2px;
			}

			&:after {
				content: 'OFF';
				position: absolute;
				top: -1px;
				color: colors.$reno-color-medium-dark-gray;
				left: 18px;
			}
		}

		> input[type="checkbox"]:active ~ span.toggle, > input[type="checkbox"]:focus ~ span.toggle {
			border-color: colors.$reno-color-secondary;
			box-shadow: 0 0 2px 0 colors.$reno-color-secondary;
		}
	}
}
