@use "colors";

// @import "./colors";


// generate classes: text

.reno-form, .reno, .reno-dark {
	input[type="text"], textarea, input[type="password"] {
		font-family: gotham a, gotham b, sans-serif;
		color: colors.$reno-color-dark-gray;
		padding: 7px 11px;
		border: 1px solid colors.$reno-color-light-gray;
		background-color: colors.$reno-color-white;
		box-sizing: border-box;
	}

	input[type="text"], input[type="password"] {
		height: 32px;
	}

	input[type="text"]::placeholder, textarea::placeholder {
		color: colors.$reno-color-medium-dark-gray;
	}

	input[type="text"]:active, input[type="text"]:focus, textarea:active, textarea:focus, input[type="password"]:active, input[type="password"]:focus {
		border-color: colors.$reno-color-secondary;
		box-shadow: 0 0 2px 0 colors.$reno-color-secondary;
		outline: none;
	}

	input[type="text"]:disabled, textarea:disabled, input[type="password"]:disabled {
		border-color: colors.$reno-color-super-light-gray;
		background-color: colors.$reno-color-super-light-gray;
		box-shadow: none;
	}

	input[type="text"]:invalid {
		border-color: colors.$reno-color-error;
	}

	input[type="text"]:invalid:focus {
		border-color: colors.$reno-color-error;
		box-shadow: 0 0 2px 0 colors.$reno-color-error;
	}
}


// helper classes

.reno, .reno-dark {
	input[type="text"], textarea, input[type="password"] {
		font-size: 14px;
	}
}
