@use "../fonts/reno";
@use "colors";

// @import "./colors";


// generate classes: number

.reno-form, .reno, .reno-dark {

	.reno-number {
		position: relative;
		display: inline-block;
		width: 100%;
		&:before {
			font-family: 'reno';
			content: reno.$reno-icon-chevron-up;
			position: absolute;
			top: 5px;
			right: 0;
			font-size: 1.3em;
			text-align: center;
			color: colors.$reno-color-medium-dark-gray;
		}
		&:after {
			font-family: 'reno';
			content: reno.$reno-icon-chevron-down;
			position: absolute;
			right: 0;
			top: 14px;
			font-size: 1.3em;
			text-align: center;
			color: colors.$reno-color-medium-dark-gray;
		}
	}

	input[type="number"] {
		font-family: gotham a, gotham b, sans-serif;
		color: colors.$reno-color-dark-gray;
		padding: 7px 30px 7px 11px;
		border: 1px solid colors.$reno-color-light-gray;
		background-color: colors.$reno-color-white;
		text-align: right;
		height: 32px;
		box-sizing: border-box;
		width: 100%;
	}

	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		position: absolute;
		right: 0;
		top: 0;
		width: 20px;
		height: 100%;
		z-index: 1;
	}

	input[type="number"]::placeholder {
		color: colors.$reno-color-medium-dark-gray;
	}

	input[type="number"]:active, input[type="number"]:focus {
		border-color: colors.$reno-color-secondary;
		box-shadow: 0 0 2px 0 colors.$reno-color-secondary;
		outline: none;
	}

	input[type="number"]:disabled {
		border-color: colors.$reno-color-super-light-gray;
		background-color: colors.$reno-color-super-light-gray;
		box-shadow: none;
		color: colors.$reno-color-medium-dark-gray;
	}

	input[type="number"]:invalid {
		border-color: colors.$reno-color-error;
	}

	input[type="number"]:invalid:focus {
		border-color: colors.$reno-color-error;
		box-shadow: 0 0 2px 0 colors.$reno-color-error;
	}
}


// helper classes

.reno, .reno-dark {
	input[type="number"] {
		font-size: 14px;
	}
}
