// Source: https://projects.invisionapp.com/share/E2ASEPKTN#/screens/223715070

// @import "./colors";


// constants

$reno-links-states: (
	normal:   (none, 1),
	special:  (underline, 1),
	disabled: (none, 0.6)
);

$reno-links-styles: (
	default: $reno-color-primary,
	quiet:   #b9b9b9,
	caution: $reno-color-error,
	reverse: #efefef
);

@function reno-link-name($name) {
	@if $name == default or $name == normal {
		@return '';
	}
	@return -#{$name};
}


// generate classes

@each $style-name, $style-color in $reno-links-styles {
	@each $state-name, $state-parameters in $reno-links-states {
		$style: reno-link-name($style-name);
		$state: reno-link-name($state-name);
		a.reno-link#{$style}#{$state} {
			color: $style-color;
			opacity: nth($state-parameters, 2);
			text-decoration: nth($state-parameters, 1);
		}
		@if $state == '' {
			a.reno-link#{$style}:disabled { @extend .reno-link#{$style}-disabled; }
			a.reno-link#{$style}:active, a.reno-link#{$style}:focus, a.reno-link#{$style}:hover { @extend .reno-link#{$style}-special; }
		}
	}
}


// helpers and special cases

.reno {
	a {
		@extend .reno-link;
	}
	a:disabled, a.reno-link-disabled {
		@extend .reno-link-disabled;
	}
	a:active, a:focus, a:hover {
		@extend .reno-link-special;
	}
}

.reno-dark {
	a {
		@extend .reno-link-reverse;
	}
	a:disabled, a.reno-link-disabled {
		@extend .reno-link-reverse-disabled;
	}
	a:active, a:focus, a:hover {
		@extend .reno-link-reverse-special;
	}
}

.reno-active-link {
	font-size: 12px;
}

// Naming convention:
//
// All link classes use the following schema:
//
// .reno-link[-style][-state]
//
// Where:
//
// * style: default (the default, skipped), quiet, caution, -reverse.
// * state: normal (the default, skipped), special (for focus, hover, and active), disabled.
//
// Examples:
//
// * .reno-link => default, normal
// * .reno-link-quiet-disabled => quiet, disabled
//
// Shortcuts:
//
// * All normal links define the corresponding [-disabled] CSS class for `:disabled` pseudo-class,
//   and [-special] for `:active`, `:focus`, and `:hover` pseudo-classes.
// * Under `.reno` all unstyled links styled as `.reno-link` using the convention for pseudo-classes
//   described above. This is useful for light backgrounds.
// * Under `.reno-dark` all unstyled buttons styled as `.reno-link-reverse` using the convention for pseudo-classes
//   described above. This is useful for dark backgrounds.
