@use "colors";
@use "spacing";

#reno-modal-container {
  display: none;
  filter: none;

  .reno-modal-background {
    display: block;
    position: fixed;
    border: none;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: colors.$reno-color-white;
    opacity: 0.7;
  }

  .reno-modal-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    z-index: 1;

    position: fixed;
    border: none;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .reno-modal {
    @extend .reno-box-with-border-shadow-z2 !optional;
    display: block;
    flex: 0 1 auto;

    width: 600px;

    margin-top: 10vh;

    &.small {
      width: 400px;
    }
    // &.medium { width: 600px; }
    &.large {
      width: 900px;
    }
    &.x-large {
      width: 1200px;
    }

    font-size: 14px;
    color: colors.$reno-color-dark-gray;
    background-color: colors.$reno-color-dirty-white;

    > .title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-size: 16px;
      color: colors.$reno-color-black;
      background-color: colors.$reno-color-white;
      padding: spacing.$reno-spacing-default spacing.$reno-spacing-large;
      border-bottom: 1px solid colors.$reno-color-medium-light-gray;

      & > div {
        flex: 0 1 auto;
      }

      > div > button.close {
        background: none;
        border: none;
        padding: 0;

        font-size: 20px;
        color: colors.$reno-color-medium-dark-gray;
      }
    }

    > .content {
      padding: spacing.$reno-spacing-default spacing.$reno-spacing-large;
    }

    > .buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      padding: spacing.$reno-spacing-default spacing.$reno-spacing-large;

      button {
        flex: 0 0 auto;
        display: inline-block;
        margin-left: 1em;
      }

      button:first-of-type {
        margin-left: 0;
      }
    }
  }
}

body.reno-modal-open #reno-modal-container {
  display: block;
  position: fixed;
  z-index: 1000;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

reno-modal {
  display: none;
}
