/** determinate **/
.reno-progress {
	background-color: transparent;
	width: 350px;
	height: 8px;
	border: 1px solid $reno-color-light-gray;
	border-radius: 50px;
	position: relative;

	.reno-progress-bar {
		position: absolute;
		top: 0;
		left: 0;
		background-color: $reno-color-primary;
		width: 0;
		height: 8px;
		border-radius: 50px 0 0 50px;
		transition: width 1s cubic-bezier(.2,.47,.51,.91);

		&.round {
			border-radius: 50px;
		}
	}
}

/** indeterminate **/
.reno-progress-bar.pending {
	animation: reno-pending 1.5s cubic-bezier(.2,.47,.51,.91) infinite;
}

@keyframes reno-pending {
	0% { margin-left: 0; width: 0; border-radius: 50px 0 0 50px; }
	10% { border-radius: 0 0 0 0; }
	70% { margin-left: 150px; width: 200px; border-radius: 0 0 0 0; }
	100% { margin-left: 350px; width: 0; border-radius: 0 50px 50px 0; }
}

/** reverse indeterminate **/
.reno-progress-bar.reverse-pending {
	animation: reno-reverse-pending 1.5s cubic-bezier(.2,.47,.51,.91) infinite;
}

@keyframes reno-reverse-pending {
	0% { margin-left: 350px; width: 0; border-radius: 0 50px 50px 0; }
	10% { border-radius: 0 0 0 0; }
	70% { margin-left: 0; width: 200px; border-radius: 0 0 0 0; }
	100% { margin-left: 0; width: 0; border-radius: 50px 0 0 50px; }
}

