// @import "./colors";
// @import "./spacing";

/* reno-spinner */

.reno-spinner {
	display: block;

	font-size: $reno-spacing;
	// margin: $reno-spacing-xxx-large auto;
	text-indent: -9999em;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	background: linear-gradient(to right, rgba($reno-color-black, 0) 50%, $reno-color-black 75%);
	position: relative;
	animation: reno-loader 1s infinite linear;
	transform: translateZ(0);

	&:before {
		width: 100%;
		height: 50%;
		background: $reno-color-dirty-white;
		// border-radius: 100% 0 0 0;
		position: absolute;
		top: 50%;
		left: 0;
		content: '';
	}

	&:after {
		background: $reno-color-dirty-white;
		width: 75%;
		height: 75%;
		border-radius: 50%;
		content: '';
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	@-webkit-keyframes reno-loader {
		  0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
	@keyframes reno-loader {
		  0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
}
