$reno-icon-alert: "\ea01";
$reno-icon-book-open-page-variant: "\ea02";
$reno-icon-calendar: "\ea03";
$reno-icon-chart-bar: "\ea04";
$reno-icon-chart-gantt: "\ea05";
$reno-icon-check: "\ea06";
$reno-icon-checkbox: "\ea07";
$reno-icon-chevron-down: "\ea08";
$reno-icon-chevron-left: "\ea09";
$reno-icon-chevron-right: "\ea0a";
$reno-icon-chevron-up: "\ea0b";
$reno-icon-close-circle-outline: "\ea0c";
$reno-icon-close-circle: "\ea0d";
$reno-icon-comment-processing-outline: "\ea0e";
$reno-icon-content-duplicate: "\ea0f";
$reno-icon-contrast: "\ea10";
$reno-icon-delete: "\ea11";
$reno-icon-dots-vertical: "\ea12";
$reno-icon-download: "\ea13";
$reno-icon-drag-vertical: "\ea14";
$reno-icon-eye-off: "\ea15";
$reno-icon-eye: "\ea16";
$reno-icon-file-document-box: "\ea17";
$reno-icon-file-document: "\ea18";
$reno-icon-gear: "\ea19";
$reno-icon-grid: "\ea1a";
$reno-icon-group: "\ea1b";
$reno-icon-home: "\ea1c";
$reno-icon-information-outline: "\ea1d";
$reno-icon-loading: "\ea1f";
$reno-icon-logout: "\ea1e";
$reno-icon-magnify: "\ea20";
$reno-icon-menu-down: "\ea21";
$reno-icon-menu-right: "\ea22";
$reno-icon-menu-up: "\ea23";
$reno-icon-menu: "\ea24";
$reno-icon-pencil: "\ea25";
$reno-icon-percent: "\ea26";
$reno-icon-priority-low: "\ea27";
$reno-icon-settings: "\ea28";
$reno-icon-star-outline: "\ea29";
$reno-icon-star: "\ea2a";
$reno-icon-subdirectory-arrow-right: "\ea2b";
$reno-icon-table-large: "\ea2c";
$reno-icon-table: "\ea2d";
$reno-icon-upload: "\ea2e";
$reno-icon-window-close: "\ea2f";
$reno-icon-wrap: "\ea30";

@font-face {
    font-family: reno;
    src: url("../fonts/reno.eot");
    src: url("../fonts/reno.eot?#iefix") format("embedded-opentype"), url("../fonts/reno.woff2") format("woff2"), url("../fonts/reno.woff") format("woff"), url("../fonts/reno.ttf") format("truetype"), url("../fonts/reno.svg#reno") format("svg");
    font-style: normal;
    font-weight: 400;
}

%reno-icon {
    display: inline-block;
    transform: translate(0, 0);
    text-rendering: auto;
    font: normal normal 400 14px/1 reno;
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.reno-icon {
    @extend %reno-icon;
}

.reno-icon-lg {
    vertical-align: -15%;
    line-height: 0.75em;
    font-size: 1.33333333em;
}

.reno-icon-2x {
    font-size: 2em;
}

.reno-icon-3x {
    font-size: 3em;
}

.reno-icon-4x {
    font-size: 4em;
}

.reno-icon-5x {
    font-size: 5em;
}

.reno-icon-fw {
    width: 1.28571429em;
    text-align: center;
}

.reno-icon-alert::before {
    content: "\ea01";
}

.reno-icon-book-open-page-variant::before {
    content: "\ea02";
}

.reno-icon-calendar::before {
    content: "\ea03";
}

.reno-icon-chart-bar::before {
    content: "\ea04";
}

.reno-icon-chart-gantt::before {
    content: "\ea05";
}

.reno-icon-check::before {
    content: "\ea06";
}

.reno-icon-checkbox::before {
    content: "\ea07";
}

.reno-icon-chevron-down::before {
    content: "\ea08";
}

.reno-icon-chevron-left::before {
    content: "\ea09";
}

.reno-icon-chevron-right::before {
    content: "\ea0a";
}

.reno-icon-chevron-up::before {
    content: "\ea0b";
}

.reno-icon-close-circle-outline::before {
    content: "\ea0c";
}

.reno-icon-close-circle::before {
    content: "\ea0d";
}

.reno-icon-comment-processing-outline::before {
    content: "\ea0e";
}

.reno-icon-content-duplicate::before {
    content: "\ea0f";
}

.reno-icon-contrast::before {
    content: "\ea10";
}

.reno-icon-delete::before {
    content: "\ea11";
}

.reno-icon-dots-vertical::before {
    content: "\ea12";
}

.reno-icon-download::before {
    content: "\ea13";
}

.reno-icon-drag-vertical::before {
    content: "\ea14";
}

.reno-icon-eye-off::before {
    content: "\ea15";
}

.reno-icon-eye::before {
    content: "\ea16";
}

.reno-icon-file-document-box::before {
    content: "\ea17";
}

.reno-icon-file-document::before {
    content: "\ea18";
}

.reno-icon-gear::before {
    content: "\ea19";
}

.reno-icon-grid::before {
    content: "\ea1a";
}

.reno-icon-group::before {
    content: "\ea1b";
}

.reno-icon-home::before {
    content: "\ea1c";
}

.reno-icon-information-outline::before {
    content: "\ea1d";
}

.reno-icon-loading::before {
    content: "\ea1f";
}

.reno-icon-logout::before {
    content: "\ea1e";
}

.reno-icon-magnify::before {
    content: "\ea20";
}

.reno-icon-menu-down::before {
    content: "\ea21";
}

.reno-icon-menu-right::before {
    content: "\ea22";
}

.reno-icon-menu-up::before {
    content: "\ea23";
}

.reno-icon-menu::before {
    content: "\ea24";
}

.reno-icon-pencil::before {
    content: "\ea25";
}

.reno-icon-percent::before {
    content: "\ea26";
}

.reno-icon-priority-low::before {
    content: "\ea27";
}

.reno-icon-settings::before {
    content: "\ea28";
}

.reno-icon-star-outline::before {
    content: "\ea29";
}

.reno-icon-star::before {
    content: "\ea2a";
}

.reno-icon-subdirectory-arrow-right::before {
    content: "\ea2b";
}

.reno-icon-table-large::before {
    content: "\ea2c";
}

.reno-icon-table::before {
    content: "\ea2d";
}

.reno-icon-upload::before {
    content: "\ea2e";
}

.reno-icon-window-close::before {
    content: "\ea2f";
}

.reno-icon-wrap::before {
    content: "\ea30";
}
